@use "../abstracts/" as *;
@use "../base/" as *;


.menu {
  @include padding(20px, 10px);
  @include flexStyle(space-between, center, row);
  background-color: $bgcl-item-profile;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 5px 0px $bs-menu;
  margin-top: 1em;

  @include tablet {
    @include padding(15px, 8px);
    flex-wrap: wrap;
    gap: 15px;
  }

  @include mobile {
    @include padding(12px, 8px);
    flex-direction: column;
    gap: 20px;
  }

  & > * {
    @include flexStyle(space-around, center, row);
  }

  &-left {
    @include flexStyle(space-between, center, row);
    gap: 10%;
    width: 40%;

    @include tablet {
      width: 60%;
      gap: 5%;
    }

    @include mobile {
      width: 100%;
      flex-direction: column;
      gap: 15px;
    }

    & > * {
      @include flexStyle(space-between, center, row);
      gap: 5%;

      @include mobile {
        width: 100%;
      }
    }

    &-filter {
      @include position(relative);
      @include padding(2%);
      @include border-radius(10px);
      @include bg-color($bgcl-item-profile);
      border: solid $bd-color;

      @include tablet {
        @include padding(1.5%);
      }

      @include mobile {
        width: 100%;
        @include padding(10px);
      }
    }

    &-search {
      @include size(100%);
      @include padding(2%);
      @include border-radius(10px);
      @include bg-color($bgcl-main);

      @include tablet {
        @include padding(1.5%);
      }

      @include mobile {
        @include padding(10px);
      }

      input {
        @include size(100%);
        @include bg-color($bgcl-main);
        border: none;
        outline: none;
      }
    }
  }

  &-right {
    gap: 3em;
    @include flexStyle(space-between, center, row);

    @include tablet {
      gap: 1.5em;
    }

    @include mobile {
      width: 100%;
      justify-content: center;
      gap: 1em;
    }
  }

  &-pay, &-create {
    width: 7em;
    height: 2.5em;
    @include padding(1%);
    @include font($primary-font, $fs-big, $fw-button);
    @include border-radius(10px);
    @include bg-color($bgcl-buttonPay, $bgcl-item-profile);
    border: none;

    @include tablet {
      width: 6em;
      height: 2.3em;
      font-size: $fs-medium;
    }

    @include mobile {
      width: 45%;
      height: 2.5em;
      @include padding(8px);
    }
  }
}