//Variables for font
$primary-font: InterRegular;

$second-font: InterBold;

$fw-first: 400;

$fw-second: 500;

$fw-button: 600;

$fw-heading: 700;

$fs-small: 12px;

$fs-medium: 14px;

$fs-big: 16px;

// Variables for background color
$bgcl-main: #f4f2ff;

$bgcl-item-profile: #ffffff;

$bgcl-activeStatus: #e6e6f2;

$bgcl-inactiveStatus: #f2f0f9;

$bgcl-paidStatus: #cdffcd;

$bgcl-overdueStatus: #ffe0e0;

$bgcl-unpaidStatus: #ffeccc;

$bgcl-buttonPay: #6d5bd0;

// Variables for text-color
$tcl-first: #6e6893;

$tcl-second: #25213b;

$tcl-button: #ffffff;

$tcl-active-status: #4a4aff;

$tcl-paid-status: #007f00;

$tcl-overdue-status: #d30000;

$tcl-unpaid-status: #965e00;

// Variables for box-shadow
$bs-menu: #00000033;

// Variables for outline border
$bd-color: #c6c2de;
$bd-user: #d9d5ec;
